<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<logger name="commons" level="TRACE" />
	<logger name="modules" level="TRACE" />
	<logger name="org.nutz" level="debug" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>